.confirmation {
  position: fixed;
  width: 340px;
  color: #252525;
  background-color: #b4db8d;
  border: 1px solid #70d010;
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.errorNotification {
  position: fixed;
  width: 340px;
  color: #252525;
  background-color: #f8bfb8;
  border: 1px solid #f98b86;
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

}
